recursive-include blanc_admin_theme *.py
recursive-include blanc_admin_theme *.css *.less
recursive-include blanc_admin_theme *.ttf *.txt
recursive-include blanc_admin_theme *.gif *.png
include README.rst
include LICENSE
prune flat
